* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #444;
  font-family: "Muli", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}

strong {
  font-weight: 700;
}

main {
  margin: 12.8rem;
}

header {
  margin: 0 0 6.4rem 0;
}

section {
  margin: 0 0 12.8rem 0;
}

h1 {
  font-size: 4rem;
  margin: 0 0 3.2rem 0;
}

h2 {
  font-size: 2.8rem;
  margin: 0 0 3.2rem 0;
}

h2 span {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 2.2rem;
  margin: 4.8rem 0 1.6rem 0;
}

a {
  color: #2D9CDB;
}

p {
  line-height: 1.6;
  margin: 0 0 1.6rem 0;
}

.table-container {
  background-color: #f7f7f7;
  margin: 6.4rem -12.8rem;
  padding: 3.2rem 3.2rem 3.2rem 12.8rem;
}

table {
  border-collapse: collapse;
  font-size: 1.6rem;
  margin: 0 -0.8rem;
}

td {
  padding: 0.8rem 0.8rem;
  text-align: center;
}

th:first-child,
td:first-child {
  text-align: left;
  white-space: nowrap;
}

th {
  padding: 1.6rem 0.8rem;
}

th:not(:first-child) {
  padding: 1.6rem 1.6rem;
}

tr:first-child th {
  padding: 0;
}

tbody tr:hover {
  background-color: #fff;
}

ul, ol {
  margin: 3.2rem 0 3.2rem 3.2rem;
}

p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

li {
  margin: 0 0 1.2rem 0;
}

dl {
  margin: 3.2rem 0;
}

dt {
  font-weight: 700;
  margin: 0 0 0.8rem 0;
}

dt:not(:first-child) {
  margin-top: 2.4rem;
}

dd {
  margin: 0 0 0.8rem 0;
}

label {
  display: block;
  font-weight: 700;
  margin: 0 0 1.2rem 0;
}

fieldset {
  background-color: #f7f7f7;
  border: 0;
  font-size: 1.6rem;
  margin: 6.4rem -12.8rem 6.4rem -12.8rem;
  padding: 6.4rem 12.8rem;
}


pre {
  background-color: #f7f7f7;
  border: 0;
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 6.4rem -12.8rem 6.4rem -12.8rem;
  overflow-x: scroll;
  padding: 6.4rem 12.8rem;
  width: 100%;
}

code {
 font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

table code {
  font-size: 1.4rem;
}


[type="text"],
[type="number"],
[type="password"] {
  border: 0.1rem solid #444;
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
  padding: 0.8rem 0.8rem;
  margin-right: 0.8rem;
  width: 24rem;
}


[type="radio"] {
  margin-right: 1.2rem;
}

[type="submit"] {
  background-color: #2D9CDB;
  border: 0.1rem solid transparent;
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
}


.field--invalid {
  border: 0.1rem solid #EB5757;
}



.field {
  margin: 0 0 2.4rem 0;
}




.field__errormessage {
  color: #EB5757;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1;
  margin: 0.8rem 0 0 0;
  min-height: 1.3rem; 
}



